/* UPDATE PACKAGE NAME AND VARIABLE PREFIX USING THE SAME VALUES AS "widget.json" */
$packageName: 'com.fliplet.slider-container';
$variablePrefix: "slider-container";

/* ----------------------------------------------------- */

@import "package:com.fliplet.theme.default/scss/core/variables";
@import "package:com.fliplet.theme.default/scss/core/mixins";

@mixin componentStyles($options: (), $widgetInstanceId: "", $widgetInstanceUUID: "") {
  /* LIST HERE ALL VARIABLES FROM YOUR THEME, INCLUDING TABLET AND DESKTOP */
  $configuration: map-merge((slider-background: $slider-container-background,
        slider-backgroundTablet: $slider-container-backgroundTablet,
        slider-backgroundDesktop: $slider-container-backgroundDesktop,
        slider-navigationArrowsBackground: $slider-container-navigationArrowsBackground,
        slider-navigationArrowsBackgroundTablet: $slider-container-navigationArrowsBackgroundTablet,
        slider-navigationArrowsBackgroundDesktop: $slider-container-navigationArrowsBackgroundDesktop,
        slider-progresBarBackground: $slider-container-progresBarBackground,
        slider-progresBarBackgroundTablet: $slider-container-progresBarBackgroundTablet,
        slider-progresBarBackgroundDesktop: $slider-container-progresBarBackgroundDesktop,
        slider-activeProgresBarBackground: $slider-container-activeProgresBarBackground,
        slider-activeProgresBarBackgroundTablet: $slider-container-activeProgresBarBackgroundTablet,
        slider-activeProgresBarBackgroundDesktop: $slider-container-activeProgresBarBackgroundDesktop,
        slider-sliderWidth: $slider-container-sliderWidth,
        slider-sliderWidthTablet: $slider-container-sliderWidthTablet,
        slider-sliderWidthDesktop: $slider-container-sliderWidthDesktop,
        slider-sliderMinWidth: $slider-container-sliderMinWidth,
        slider-sliderMinWidthTablet: $slider-container-sliderMinWidthTablet,
        slider-sliderMinWidthDesktop: $slider-container-sliderMinWidthDesktop,
        slider-sliderMaxWidth: $slider-container-sliderMaxWidth,
        slider-sliderMaxWidthTablet: $slider-container-sliderMaxWidthTablet,
        slider-sliderMaxWidthDesktop: $slider-container-sliderMaxWidthDesktop,
        slider-sliderPaddingTop: $slider-container-sliderPaddingTop,
        slider-sliderPaddingTopTablet: $slider-container-sliderPaddingTopTablet,
        slider-sliderPaddingTopDesktop: $slider-container-sliderPaddingTopDesktop,
        slider-sliderPaddingBottom: $slider-container-sliderPaddingBottom,
        slider-sliderPaddingBottomTablet: $slider-container-sliderPaddingBottomTablet,
        slider-sliderPaddingBottomDesktop: $slider-container-sliderPaddingBottomDesktop,
        slider-sliderPaddingRight: $slider-container-sliderPaddingRight,
        slider-sliderPaddingRightTablet: $slider-container-sliderPaddingRightTablet,
        slider-sliderPaddingRightDesktop: $slider-container-sliderPaddingRightDesktop,
        slider-sliderPaddingLeft: $slider-container-sliderPaddingLeft,
        slider-sliderPaddingLeftTablet: $slider-container-sliderPaddingLeftTablet,
        slider-sliderPaddingLeftDesktop: $slider-container-sliderPaddingLeftDesktop,
        slider-sliderMarginAlign: $slider-container-sliderMarginAlign,
        slider-sliderMarginAlignTablet: $slider-container-sliderMarginAlignTablet,
        slider-sliderMarginAlignDesktop: $slider-container-sliderMarginAlignDesktop,
        slider-sliderMarginTop: $slider-container-sliderMarginTop,
        slider-sliderMarginTopTablet: $slider-container-sliderMarginTopTablet,
        slider-sliderMarginTopDesktop: $slider-container-sliderMarginTopDesktop,
        slider-sliderMarginBottom: $slider-container-sliderMarginBottom,
        slider-sliderMarginBottomTablet: $slider-container-sliderMarginBottomTablet,
        slider-sliderMarginBottomDesktop: $slider-container-sliderMarginBottomDesktop,
        slider-sliderMarginLeft: $slider-container-sliderMarginLeft,
        slider-sliderMarginLeftTablet: $slider-container-sliderMarginLeftTablet,
        slider-sliderMarginLeftDesktop: $slider-container-sliderMarginLeftDesktop,
        slider-sliderMarginRight: $slider-container-sliderMarginRight,
        slider-sliderMarginRightTablet: $slider-container-sliderMarginRightTablet,
        slider-sliderMarginRightDesktop: $slider-container-sliderMarginRightDesktop,
        slider-sliderProgresbarPaddingTop: $slider-container-sliderProgresbarPaddingTop,
        slider-sliderProgresbarPaddingTopTablet: $slider-container-sliderProgresbarPaddingTopTablet,
        slider-sliderProgresbarPaddingTopDesktop: $slider-container-sliderProgresbarPaddingTopDesktop,
        slider-sliderProgresbarPaddingBottom: $slider-container-sliderProgresbarPaddingBottom,
        slider-sliderProgresbarPaddingBottomTablet: $slider-container-sliderProgresbarPaddingBottomTablet,
        slider-sliderProgresbarPaddingBottomDesktop: $slider-container-sliderProgresbarPaddingBottomDesktop,
        slider-sliderProgresbarPaddingRight: $slider-container-sliderProgresbarPaddingRight,
        slider-sliderProgresbarPaddingRightTablet: $slider-container-sliderProgresbarPaddingRightTablet,
        slider-sliderProgresbarPaddingRightDesktop: $slider-container-sliderProgresbarPaddingRightDesktop,
        slider-sliderProgresbarPaddingLeft: $slider-container-sliderProgresbarPaddingLeft,
        slider-sliderProgresbarPaddingLeftTablet: $slider-container-sliderProgresbarPaddingLeftTablet,
        slider-sliderProgresbarPaddingLeftDesktop: $slider-container-sliderProgresbarPaddingLeftDesktop,
        slider-paginationBulletWidth: $slider-container-paginationBulletWidth,
        slider-paginationBulletWidthTablet: $slider-container-paginationBulletWidthTablet,
        slider-paginationBulletWidthDesktop: $slider-container-paginationBulletWidthDesktop,
        slider-paginationBulletHeight: $slider-container-paginationBulletHeight,
        slider-paginationBulletHeightTablet: $slider-container-paginationBulletHeightTablet,
        slider-paginationBulletHeightDesktop: $slider-container-paginationBulletHeightDesktop,
        slider-slideVisibility: $slider-container-slideVisibility,
        slider-slideVisibilityTablet: $slider-container-slideVisibilityTablet,
        slider-slideVisibilityDesktop: $slider-container-slideVisibilityDesktop,
        // slider-skipSize: $slider-container-skipSize,
        // slider-skipSizeTablet: $slider-container-skipSizeTablet,
        // slider-skipSizeDesktop: $slider-container-skipSizeDesktop,
        // slider-skipFont: $slider-container-skipFont,
        // slider-skipFontTablet: $slider-container-skipFontTablet,
        // slider-skipFontDesktop: $slider-container-skipFontDesktop,
        // slider-skipColor: $slider-container-skipColor,
        // slider-skipColorTablet: $slider-container-skipColorTablet,
        // slider-skipColorDesktop: $slider-container-skipColorDesktop,
        // slider-skipWeight: $slider-container-skipWeight,
        // slider-skipWeightTablet: $slider-container-skipWeightTablet,
        // slider-skipWeightDesktop: $slider-container-skipWeightDesktop,
        // slider-skipStyle: $slider-container-skipStyle,
        // slider-skipStyleTablet: $slider-container-skipStyleTablet,
        // slider-skipStyleDesktop: $slider-container-skipStyleDesktop,
        // slider-skipDecoration: $slider-container-skipDecoration,
        // slider-skipDecorationTablet: $slider-container-skipDecorationTablet,
        // slider-skipDecorationDesktop: $slider-container-skipDecorationDesktop,
        // slider-skipHeight: $slider-container-skipHeight,
        // slider-skipHeightTablet: $slider-container-skipHeightTablet,
        // slider-skipHeightDesktop: $slider-container-skipHeightDesktop,
        slider-paginationSize: $slider-container-paginationSize,
        slider-paginationSizeTablet: $slider-container-paginationSizeTablet,
        slider-paginationSizeDesktop: $slider-container-paginationSizeDesktop,
        slider-paginationFont: $slider-container-paginationFont,
        slider-paginationFontTablet: $slider-container-paginationFontTablet,
        slider-paginationFontDesktop: $slider-container-paginationFontDesktop,
        slider-paginationColor: $slider-container-paginationColor,
        slider-paginationColorTablet: $slider-container-paginationColorTablet,
        slider-paginationColorDesktop: $slider-container-paginationColorDesktop,
        slider-paginationWeight: $slider-container-paginationWeight,
        slider-paginationWeightTablet: $slider-container-paginationWeightTablet,
        slider-paginationWeightDesktop: $slider-container-paginationWeightDesktop,
        slider-paginationStyle: $slider-container-paginationStyle,
        slider-paginationStyleTablet: $slider-container-paginationStyleTablet,
        slider-paginationStyleDesktop: $slider-container-paginationStyleDesktop,
        slider-paginationDecoration: $slider-container-paginationDecoration,
        slider-paginationDecorationTablet: $slider-container-paginationDecorationTablet,
        slider-paginationDecorationDesktop: $slider-container-paginationDecorationDesktop,
        slider-paginationHeight: $slider-container-paginationHeight,
        slider-paginationHeightTablet: $slider-container-paginationHeightTablet,
        slider-paginationHeightDesktop: $slider-container-paginationHeightDesktop,
        slider-arrowSize: $slider-container-arrowSize,
        slider-arrowSizeTablet: $slider-container-arrowSizeTablet,
        slider-arrowSizeDesktop: $slider-container-arrowSizeDesktop
        ),
      $options);

  $instanceSelector: '[data-widget-package="#{$packageName}"]';

  @if $widgetInstanceUUID !="" {
    $instanceSelector: '#{$instanceSelector}[data-uuid="#{$widgetInstanceUUID}"]';
  }

  @else if $widgetInstanceId !="" {
    $instanceSelector: '#{$instanceSelector}[data-id="#{$widgetInstanceId}"]';
  }

  #{$instanceSelector} {
    // .skip-btn {
    //   font-size: map-get($configuration, slider-skipSize)!important;

    //   @include above($tabletBreakpoint) {
    //     font-size: map-get($configuration, slider-skipSizeTablet)!important;
    //   }
  
    //   @include above($desktopBreakpoint) {
    //     font-size: map-get($configuration, slider-skipSizeDesktop)!important;
    //   }

    //   font-family: map-get($configuration, slider-skipFont)!important;
      
    //   @include above($tabletBreakpoint) {
    //     font-family: map-get($configuration, slider-skipFontTablet)!important;
    //   }
  
    //   @include above($desktopBreakpoint) {
    //     font-family: map-get($configuration, slider-skipFontDesktop)!important;
    //   }

    //   color: map-get($configuration, slider-skipColor)!important;
      
    //   @include above($tabletBreakpoint) {
    //     color: map-get($configuration, slider-skipColorTablet)!important;
    //   }
  
    //   @include above($desktopBreakpoint) {
    //     color: map-get($configuration, slider-skipColorDesktop)!important;
    //   }

    //   font-weight: map-get($configuration, slider-skipWeight)!important;
      
    //   @include above($tabletBreakpoint) {
    //     font-weight: map-get($configuration, slider-skipWeightTablet)!important;
    //   }
  
    //   @include above($desktopBreakpoint) {
    //     font-weight: map-get($configuration, slider-skipWeightDesktop)!important;
    //   }

    //   font-style: map-get($configuration, slider-skipStyle)!important;
      
    //   @include above($tabletBreakpoint) {
    //     font-style: map-get($configuration, slider-skipStyleTablet)!important;
    //   }
  
    //   @include above($desktopBreakpoint) {
    //     font-style: map-get($configuration, slider-skipStyleDesktop)!important;
    //   }

    //   text-decoration: map-get($configuration, slider-skipDecoration)!important;
      
    //   @include above($tabletBreakpoint) {
    //     text-decoration: map-get($configuration, slider-skipDecorationTablet)!important;
    //   }
  
    //   @include above($desktopBreakpoint) {
    //     text-decoration: map-get($configuration, slider-skipDecorationDesktop)!important;
    //   }

    //   line-height: map-get($configuration, slider-skipHeight)!important;
      
    //   @include above($tabletBreakpoint) {
    //     line-height: map-get($configuration, slider-skipHeightTablet)!important;
    //   }
  
    //   @include above($desktopBreakpoint) {
    //     line-height: map-get($configuration, slider-skipHeightDesktop)!important;
    //   }
    // }

    .swiper-pagination.swiper-pagination-fraction {
      font-size: map-get($configuration, slider-paginationSize)!important;

      @include above($tabletBreakpoint) {
        font-size: map-get($configuration, slider-paginationSizeTablet)!important;
      }
  
      @include above($desktopBreakpoint) {
        font-size: map-get($configuration, slider-paginationSizeDesktop)!important;
      }

      font-family: map-get($configuration, slider-paginationFont)!important;
      
      @include above($tabletBreakpoint) {
        font-family: map-get($configuration, slider-paginationFontTablet)!important;
      }
  
      @include above($desktopBreakpoint) {
        font-family: map-get($configuration, slider-paginationFontDesktop)!important;
      }

      color: map-get($configuration, slider-paginationColor)!important;
      
      @include above($tabletBreakpoint) {
        color: map-get($configuration, slider-paginationColorTablet)!important;
      }
  
      @include above($desktopBreakpoint) {
        color: map-get($configuration, slider-paginationColorDesktop)!important;
      }

      font-weight: map-get($configuration, slider-paginationWeight)!important;
      
      @include above($tabletBreakpoint) {
        font-weight: map-get($configuration, slider-paginationWeightTablet)!important;
      }
  
      @include above($desktopBreakpoint) {
        font-weight: map-get($configuration, slider-paginationWeightDesktop)!important;
      }

      font-style: map-get($configuration, slider-paginationStyle)!important;
      
      @include above($tabletBreakpoint) {
        font-style: map-get($configuration, slider-paginationStyleTablet)!important;
      }
  
      @include above($desktopBreakpoint) {
        font-style: map-get($configuration, slider-paginationStyleDesktop)!important;
      }

      text-decoration: map-get($configuration, slider-paginationDecoration)!important;
      
      @include above($tabletBreakpoint) {
        text-decoration: map-get($configuration, slider-paginationDecorationTablet)!important;
      }
  
      @include above($desktopBreakpoint) {
        text-decoration: map-get($configuration, slider-paginationDecorationDesktop)!important;
      }

      line-height: map-get($configuration, slider-paginationHeight)!important;
      
      @include above($tabletBreakpoint) {
        line-height: map-get($configuration, slider-paginationHeightTablet)!important;
      }
  
      @include above($desktopBreakpoint) {
        line-height: map-get($configuration, slider-paginationHeightDesktop)!important;
      }
    }

    .swiper-container-initialized .swiper-button-next:after, .swiper-container-initialized .swiper-button-prev:after {
      font-size: map-get($configuration, slider-arrowSize)!important;

      @include above($tabletBreakpoint) {
        font-size: map-get($configuration, slider-arrowSizeTablet)!important;
      }
  
      @include above($desktopBreakpoint) {
        font-size: map-get($configuration, slider-arrowSizeDesktop)!important;
      }
    }

    /* --------------- STYLES GO HERE --------------- */
    visibility: map-get($configuration, slider-slideVisibility);

    @include above($tabletBreakpoint) {
      visibility: map-get($configuration, slider-slideVisibilityTablet);
    }

    @include above($desktopBreakpoint) {
      visibility: map-get($configuration, slider-slideVisibilityDesktop);
    }

    // slider bacground
    background-color: map-get($configuration, slider-background);

    @include above($tabletBreakpoint) {
      background-color: map-get($configuration, slider-backgroundTablet);
    }

    @include above($desktopBreakpoint) {
      background-color: map-get($configuration, slider-backgroundDesktop);
    }

    // end of slider background

    // slider width
    width: map-get($configuration, slider-sliderWidth) !important;

    @include above($tabletBreakpoint) {
      width: map-get($configuration, slider-sliderWidthTablet) !important;
    }

    @include above($desktopBreakpoint) {
      width: map-get($configuration, slider-sliderWidthDesktop) !important;
    }

    // end of slider width

    // slider min width
    min-width: map-get($configuration, slider-sliderMinWidth) !important;

    @include above($tabletBreakpoint) {
      min-width: map-get($configuration, slider-sliderMinWidthTablet) !important;
    }

    @include above($desktopBreakpoint) {
      min-width: map-get($configuration, slider-sliderMinWidthDesktop) !important;
    }

    // end of min slider width

    // slider max width
    width: map-get($configuration, slider-sliderMaxWidth) !important;

    @include above($tabletBreakpoint) {
      width: map-get($configuration, slider-sliderMaxWidthTablet) !important;
    }

    @include above($desktopBreakpoint) {
      width: map-get($configuration, slider-sliderMaxWidthDesktop) !important;
    }

    // end of slider max width

    // slider padding top
    padding-top: map-get($configuration, slider-sliderPaddingTop) !important;

    @include above($tabletBreakpoint) {
      padding-top: map-get($configuration, slider-sliderPaddingTopTablet) !important;
    }

    @include above($desktopBreakpoint) {
      padding-top: map-get($configuration, slider-sliderPaddingTopDesktop) !important;
    }

    // slider padding bottom
    padding-bottom: map-get($configuration, slider-sliderPaddingBottom) !important;

    @include above($tabletBreakpoint) {
      padding-bottom: map-get($configuration, slider-sliderPaddingBottomTablet) !important;
    }

    @include above($desktopBreakpoint) {
      padding-bottom: map-get($configuration, slider-sliderPaddingBottomDesktop) !important;
    }

    // end of padding bottom

    // slider padding right
    padding-right: map-get($configuration, slider-sliderPaddingRight) !important;

    @include above($tabletBreakpoint) {
      padding-right: map-get($configuration, slider-sliderPaddingRightTablet) !important;
    }

    @include above($desktopBreakpoint) {
      padding-right: map-get($configuration, slider-sliderPaddingRightDesktop) !important;
    }

    // end of padding right

    // slider padding left
    padding-left: map-get($configuration, slider-sliderPaddingLeft) !important;

    @include above($tabletBreakpoint) {
      padding-left: map-get($configuration, slider-sliderPaddingLeftTablet) !important;
    }

    @include above($desktopBreakpoint) {
      padding-left: map-get($configuration, slider-sliderPaddingLeftDesktop) !important;
    }

    // end of padding left

    // slider margin
    margin: map-get($configuration, slider-sliderMarginAlign) !important;

    @include above($tabletBreakpoint) {
      margin: map-get($configuration, slider-sliderMarginAlignTablet) !important;
    }

    @include above($desktopBreakpoint) {
      margin: map-get($configuration, slider-sliderMarginAlignDesktop) !important;
    }

    // // end of margin

    // // slider margin top
    margin-top: map-get($configuration, slider-sliderMarginTop) !important;

    @include above($tabletBreakpoint) {
      margin-top: map-get($configuration, slider-sliderMarginTopTablet) !important;
    }

    @include above($desktopBreakpoint) {
      margin-top: map-get($configuration, slider-sliderMarginTopDesktop) !important;
    }

    // end of margin top

    // slider margin bottom
    margin-bottom: map-get($configuration, slider-sliderMarginBottom) !important;

    @include above($tabletBreakpoint) {
      margin-bottom: map-get($configuration, slider-sliderMarginBottomTablet) !important;
    }

    @include above($desktopBreakpoint) {
      margin-bottom: map-get($configuration, slider-sliderMarginBottomDesktop) !important;
    }

    // end of margin bottom

    // slider margin left
    margin-left: map-get($configuration, slider-sliderMarginLeft) !important;

    @include above($tabletBreakpoint) {
      margin-left: map-get($configuration, slider-sliderMarginLeftTablet) !important;
    }

    @include above($desktopBreakpoint) {
      margin-left: map-get($configuration, slider-sliderMarginLeftDesktop) !important;
    }

    // end of margin left

    // slider margin right
    margin-right: map-get($configuration, slider-sliderMarginRight) !important;

    @include above($tabletBreakpoint) {
      margin-right: map-get($configuration, slider-sliderMarginRightTablet) !important;
    }

    @include above($desktopBreakpoint) {
      margin-right: map-get($configuration, slider-sliderMarginRightDesktop) !important;
    }

    // end of margin right

    // pagination dots width
    .swiper-pagination-bullet {
      width: map-get($configuration, slider-paginationBulletWidth) !important;

      @include above($tabletBreakpoint) {
        width: map-get($configuration, slider-paginationBulletWidthTablet) !important;
      }

      @include above($desktopBreakpoint) {
        width: map-get($configuration, slider-paginationBulletWidthDesktop) !important;
      }

      height: map-get($configuration, slider-paginationBulletHeight) !important;

      @include above($tabletBreakpoint) {
        height: map-get($configuration, slider-paginationBulletHeightTablet) !important;
      }

      @include above($desktopBreakpoint) {
        height: map-get($configuration, slider-paginationBulletHeightDesktop) !important;
      }
    }
    // end of pagination dots width


    // .skip-container {
    //   top: calc(25px + map-get($configuration, slider-sliderProgresbarPaddingTop) + map-get($configuration, slider-sliderProgresbarPaddingBottom));
    // }

    .swiper-pagination {
      // slider padding top
      padding-top: map-get($configuration, slider-sliderProgresbarPaddingTop) !important;

      @include above($tabletBreakpoint) {
        padding-top: map-get($configuration, slider-sliderProgresbarPaddingTopTablet) !important;
      }

      @include above($desktopBreakpoint) {
        padding-top: map-get($configuration, slider-sliderProgresbarPaddingTopDesktop) !important;
      }

      // slider padding bottom
      padding-bottom: map-get($configuration, slider-sliderProgresbarPaddingBottom) !important;

      @include above($tabletBreakpoint) {
        padding-bottom: map-get($configuration, slider-sliderProgresbarPaddingBottomTablet) !important;
      }

      @include above($desktopBreakpoint) {
        padding-bottom: map-get($configuration, slider-sliderProgresbarPaddingBottomDesktop) !important;
      }

      // end of padding bottom

      // slider padding right
      padding-right: map-get($configuration, slider-sliderProgresbarPaddingRight) !important;

      @include above($tabletBreakpoint) {
        padding-right: map-get($configuration, slider-sliderProgresbarPaddingRightTablet) !important;
      }

      @include above($desktopBreakpoint) {
        padding-right: map-get($configuration, slider-sliderProgresbarPaddingRightDesktop) !important;
      }

      // end of padding right

      // slider padding left
      padding-left: map-get($configuration, slider-sliderProgresbarPaddingLeft) !important;

      @include above($tabletBreakpoint) {
        padding-left: map-get($configuration, slider-sliderProgresbarPaddingLeftTablet) !important;
      }

      @include above($desktopBreakpoint) {
        padding-left: map-get($configuration, slider-sliderProgresbarPaddingLeftDesktop) !important;
      }

      // end of padding left
    }

    // slider arrows background
    .swiper-button-prev,
    .swiper-button-next {
      background-color: map-get($configuration, slider-navigationArrowsBackground);

      // Styles for tablet
      @include above($tabletBreakpoint) {
        background-color: map-get($configuration, slider-navigationArrowsBackgroundTablet);
      }

      // Styles for desktop
      @include above($desktopBreakpoint) {
        background-color: map-get($configuration, slider-navigationArrowsBackgroundDesktop);
      }
    }

    // end of slider arrows background

    // slider progress bar background
    .swiper-pagination-progressbar {
      background-color: map-get($configuration, slider-progresBarBackground) !important;

      // Styles for tablet
      @include above($tabletBreakpoint) {
        background-color: map-get($configuration, slider-progresBarBackgroundTablet) !important;
      }

      // Styles for desktop
      @include above($desktopBreakpoint) {
        background-color: map-get($configuration, slider-progresBarBackgroundDesktop) !important;
      }
    }

    // end of slider progress bar background

    // slider active progress bar background
    .swiper-pagination-progressbar-fill {
      background-color: map-get($configuration, slider-activeProgresBarBackground) !important;

      // Styles for tablet
      @include above($tabletBreakpoint) {
        background-color: map-get($configuration, slider-activeProgresBarBackgroundTablet) !important;
      }

      // Styles for desktop
      @include above($desktopBreakpoint) {
        background-color: map-get($configuration, slider-activeProgresBarBackgroundDesktop) !important;
      }
    }

    // end of slider active progress bar background


    /* ---------------- END OF STYLES ---------------- */
  }
}

/* Export common styles */
@include componentStyles();

/* Export styles for each widget instance */
@if variable-exists(widgetInstances) {
  @each $widgetInstance in $widgetInstances {
    @if nth($widgetInstance, 2)==$variablePrefix {
      @include componentStyles(nth($widgetInstance, 3), nth($widgetInstance, 1), nth($widgetInstance, 4));
    }
  }
}